.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.item img {
  width: 250px;
  height: 250px;
}

.priceContainer {
  display: flex;
  justify-content: start;
  padding: 0 10px;
  align-items: center;
  gap: 20px;
}

.item .price {
  font-weight: bold;
  font-size: 1.2rem;
}

.item .oldPrice {
  text-decoration: line-through;
}

.item .discount {
  color: silver;
}

.ratingContainer {
  display: flex;
  gap: 10px;
  flex-direction: row;
}